<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
   
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <!--<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />-->
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="Server.ImpServices">
                <endpoint address="net.tcp://localhost:3000/MsgOverlay" binding="netTcpBinding"
                    bindingConfiguration="" name="MsgOverlayEP" contract="Interfaces.IntServices" />
            </service>
            <service name="ChatWindow.ImpClient">
                <endpoint address="net.tcp://localhost:3000/MsgOverlay" binding="basicHttpBinding"
                    contract="Interfaces.IntClient">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Server/ConnectedClient/" />
                    </baseAddresses>
                </host>
            </service>
            <!--<service name="Server.ImpSettingsOpener">
                <endpoint address="" binding="basicHttpBinding" contract="Server.IntSettingsOpener">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Server/SettingsOpener/" />
                    </baseAddresses>
                </host>
            </service>-->
        </services>
    </system.serviceModel>
</configuration>